 *{
    border: none;
    border-radius: 0;
    font-family: JetBrainsMonoNerdFontMono;
    font-size: 15px;
    min-height: 20px;
}

window#waybar {
    /* background: #1e1e2e; */
    background: rgba(30, 30, 46, 1.0);
    color: #cdd6f4;
}

#workspaces,
#pulseaudio,
#memory,
#cpu,
#network,
#battery {
    padding: 0 10px;
    margin: 0px 0px;
    background-color: #1e1e2e;
}

#clock{
    padding: 0 10px;
    margin: 0px 0px;
    background-color: #a6e3a1;
    color: #1e1e2e;
}

#workspaces button {
    padding: 0 5px;
    color: #494d64;
}

#workspaces button.active {
    color: #a6e3a1;
}

#workspaces button:hover {
    background: #1e1e2e;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #cdd6f4;
}

#pulseaudio.muted {
    background-color: #f38ba8; /* Catppuccin Mocha Red */
    color: #cdd6f4;            /* Catppuccin Mocha Text */
}

#network.disconnected {
    background-color: #f38ba8; /* Catppuccin Mocha Red */
    color: #cdd6f4;            /* Catppuccin Mocha Text */
}

#cpu.warning {
    background-color: #f38ba8; /* Catppuccin Mocha Red */
    color: #cdd6f4;            /* Catppuccin Mocha Text */
}
#cpu.critical {
    background-color: #f38ba8; /* Catppuccin Mocha Red */
    color: #cdd6f4;            /* Catppuccin Mocha Text */
}

#memory {
}

#battery.warning {
    background-color: #f38ba8; /* Catppuccin Mocha Red */
    color: #cdd6f4;            /* Catppuccin Mocha Text */
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
